<div class="logo">
    <span class="" id="logo">
        <span class="stroke" id="st-1"></span>
        <span class="stroke" id="st-2"></span>
        <span class="stroke" id="st-3"></span>
        <span class="stroke" id="st-4"></span>
        <span class="stroke" id="st-5"></span>
        <span class="stroke" id="st-6"></span>
        <span class="stroke" id="st-7"></span>
    </span>
    <span class="heading">
        <span class="tap" id="Home">หน้าแรก</span>
        <span class="tap" id="Add-music">เพิ่มเพลง</span>
        <span class="tap" id="Search">ค้นหา</span>
        <span class="tap" id="Me">About Me</span>
    </span>
</div>
