<div class="logo">
    <span class="head-hot">SIMPLE<br>WEB</span>
    <span><img class="logoimg" src="img/sound-8563.gif" alt=""></span>
    <span class="heading">
        <span class="tap" id="Home">หน้าแรก</span>
        <span class="tap" id="Add-music">เพิ่มเพลง</span>
        <span class="tap" id="Search">ค้นหา</span>
        <span class="tap" id="Me">About Me</span>
    </span>
</div>
