<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAKNAI</title>
    <style>
    body{
        background-color:skyblue;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    .title{
        display: flex;
        color: darkturquoise;
        background-color: darkcyan;
        text-shadow: 2px;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        max-height: 15%;
        box-shadow: 0px 3px 15px 8px black;
        padding-left: 2%;
        z-index: 1;
    }
    .rule{
        display: flex;
        justify-content: center;
        position: relative;
        top: 100px;
        height: auto;
        width: 100%;
    }
    .whole-page{
        background-color: whitesmoke;
        border-radius: 3%;
        padding: 2%;
        width: 80%;
    }
    .foot{
        margin-bottom: 1.5%;
        position: relative;
        top: 150px;
        color: grey;
    }
    .img{
        min-height: 25px;
        min-width: 25px;
        max-height: 55px;
        max-width: 55px;
        justify-self: flex-start;
        margin-top: 1%;
        margin-right: 2%;
        border-radius: 50%;
        box-shadow: 0px 0px 15px 10px darkturquoise;
    }
    h1{
        display: inline;
        max-height: 40px;
    }
    .Yai{
        font-size: 20px;
    }
    .Yaimak{
        font-size: 30px;
        color: darkgoldenrod;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .nomore{
        font-size: 17px;
        color: rgb(78, 78, 78);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .img-show{
        min-height: 1%;
        min-width: 1%;
        max-height: 40%;
        max-width: 40%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .kem{
        color: rgb(21, 21, 21);
        font-size: 18px;
    }
    </style>
</head>
<body>
    <div class="title">
        <img class="img"src="img/image_mpc8Cz4P_1702383275133_raw.jpg" alt="">
        <h1>Welcomese To My Website, <%= username %></h1>
    </div>
    <div class="rule">
        <div class="whole-page">
            <center><img src="img/ETr8AJhU4AIpa7c.jpg" alt="" class="img-show"></center>
            <div class="Yai">สมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูร ขึ้นทรงราชย์เป็นพระมหากษัตริย์รัชกาลที่ 10 แห่งราชวงศ์จักรี ภายหลังทรงมีพระราชดำรัสตอบรับคำกราบบังคมทูลเชิญของสภานิติบัญญัติแห่งชาติเมื่อวันที่ 1 ธ.ค.2559</div>
            <div class="Yaimak">พระราชประวัติสมเด็จพระเจ้าอยู่หัวรัชกาลที่ 10</div>
            <div class="nomore">สมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูร ทรงเป็นพระราชโอรสในพระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช และสมเด็จพระนางเจ้าสิริกิต์ พระบรมราชินีนาถ เสด็จพระราชสมภพเมื่อวันจันทร์ที่ 28 ก.ค.2495 ณ พระที่นั่งอัมพรสถาน พระราชวังดุสิต ได้รับพระราชทานพระนามว่า สมเด็จพระเจ้าลูกยาเธอ เจ้าฟ้าวชิราลงกรณ</div>
            <div class="nomore">ทรงมีพระเชษฐภคินี คือ สมเด็จพระเจ้าลูกเธอ เจ้าฟ้าอุบลรัตนราชกัญญา สิริวัฒนาพรรณวดี และพระขนิษฐา 2 พระองค์ คือ สมเด็จพระเทพรัตนราชสุดา เจ้าฟ้ามหาจักรีสิรินธร รัฐสีมาคุณากรปิยชาติ สยามบรมราชกุมารี และสมเด็จพระเจ้าลูกเธอ เจ้าฟ้าจุฬาภรณวลัยลักษณ์ อัครราชกุมารี</div>
            <center><img class="img-show" src="img/869f22d540d95b6eb0a34a051a29b3fe.jpg" alt=""></center>
            <div class="nomore">พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดชทรงสถาปนาขึ้นเป็นสมเด็จพระบรมโอรสาธิราช เจ้าฟ้ามหาวิชราลงกรณ สยามมกุฎราชกุมาร เมื่อวันที่ 28 ธ.ค.2515 ขณะนั้นทรงเจริญพระชนมายุ 20 พรรษา นับเป็นกระบวนการสืบราชสันตติวงศ์ที่ชัดเจนตามกฎมณเฑียรบาลว่าด้วยการสืบสันตติวงศ์ พ.ศ.2467</div>
            <div class="Yaimak">การศึกษา</div>
            <div class="nomore">สมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูร ทรงเริ่มการศึกษาที่โรงเรียนจิตรลดา แล้วเสด็จพระราชดำเนินไปทรงศึกษาต่อในระดับประถมศึกษาที่โรงเรียนคิงส์มีด แคว้นซัสเซกส์ และศึกษาระดับมัธยมศึกษาที่โรงเรียนมิลฟิลด์ แคว้นซอมเมอร์เซท สหราชอาณาจักรหลังจากนั้น ทรงศึกษาต่อวิชาทหารที่โรงเรียนคิงส์ นครซิดนีย์ ประเทศออสเตรเลีย ทรงสำเร็จการศึกษาระดับปริญญาตรีสาขาอักษรศาสตร์ ด้านการทหาร จากมหาวิทยาลัยนิวเซาธ์เวลส์ ประเทศออสเตรเลียหลังจากทรงสำเร็จการศึกษาได้เสด็จฯ นิวัติประเทศไทย ทรงศึกษาต่อสาขาวิชานิติศาสตร์รุ่นที่ 2 มหาวิทยาลัยสุโขทัยธรรมาธิราช</div>
            <div class="Yaimak">ทรงผนวช</div>
            <div class="nomore">วันที่ 6 พ.ย.2521 ทรงผนวชเป็นพระภิกษุในพระพุทธศาสนา ณ พระอุโบสถวัดพระศรีรัตนศาสดาราม โดยมีสมเด็จพระสังฆราช วาสนมหาเถร วัดราชบพิธ เป็นพระราชอุปัธยาจารย์ ถวายพระสมณนามว่า วชิราลงฺกรโณ ประทับ ณ วัดบวรนิเวศวิหาร เมื่อครบ 15 วัน ทรงลาผนวช</div>
            <center><img class="img-show" src="img/185b02132ad7121d1d3854c852ece251.jpg" alt=""></center>
            <div class="Yaimak">พระราชกรณียกิจ</div>
            <div class="nomore">สมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูร ทรงปฏิบัติพระราชกรณียกิจแทนพระองค์มาโดยตลอด เพื่อแบ่งเบาพระราชกรณียกิจพระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช ทั้งในการพระราชพิธีสำคัญ เพื่อเป็นขวัญกำลังใจแก่เกษตรกรไทย และพระราชพิธีทางศาสนาต่างๆ</div>
            <div class="nomore">นอกจากนี้ได้โดยเสด็จสมเด็จพระนางเจ้าฯ พระบรมราชินีนาถเสด็จพระราชดำเนินไปแปรพระราชฐานประทับแรมตามภูมิภาคต่างๆ ของประเทศไทย โดยทรงติดตามความก้าวหน้าด้านการชลประทาน การสร้างเขื่อนต่างๆ และพระราชทานแนวพระราชดำริให้กรมชลประทานแก้ปัญหาตามที่ชาวบ้านกราบทูล ส่งให้ราษฎรมีน้ำใช้ในการเกษตรอย่างอุดมสมบูรณ์และช่วยบรรเทาปัญหาอุทกภัยในฤดูฝน</div>
            <center><img src="img/x1080.jpg" alt="" class="img-show"></center>
            <div class="nomore"><span class="kem">ด้านการแพทย์และสาธารณสุข </span>สมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูรทรงตระหนักว่าสุขภาพพลานามัยอันดีของประชาชนเป็นปัจจัยสำคัญของการสร้างสรรค์ทรัพยากรบุคคล จึงทรงสนพระราชหฤทัยในการประกอบพระราชกณียกิจ เช่น เมื่อรัฐบาลได้น้อมเกล้าน้อมกระหม่อมถวายโรงพยาบาลสมเด็จพระยุพราช 21 แห่งทั่วประเทศ พระองค์ก็ได้ทรงพระอุตสาหะเสด็จฯ ไปทรงประกอบพิธีเปิดโรงพยาบาลทุกแห่งและทรงเยี่ยมโรงพยาบาลอย่างสม่ำเสมอ รวมทั้งพระราชทานพระราชทรัพย์สนับสนุนให้มีอุปกรณ์การแพทย์ เครื่องมือเครื่องใช้ที่ทันสมัย</div>
            <div class="nomore"><span class="kem">ด้านการศึกษา </span>ทรงพระกรุณาพระราชทานพระราชทรัพย์ร่วมสนับสนุนให้กรมสามัญศึกษา กระทรวงศึกษาธิการ ก่อตั้งโรงเรียนมัธยมศึกษาในถิ่นทุรกันดาร 6 แห่ง ทรงรับโรงเรียนไว้ในพระราชูปถัมภ์ พระราชทานวัสดุอุปกรณ์การศึกษาที่ทันสมัย เช่น คอมพิวเตอร์ โทรทัศน์ วิดีทัศน์ และในด้านการอุดมศึกษา พระองค์ได้ทรงพระกรุณาเสด็จฯ แทนพระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดชไปพระราชทานปริญญาบัตรแก่บัณฑิตของมหาวิทยาลัยต่างๆ</div>
            <div class="nomore">ทรงจัดตั้งโครงการทุนการศึกษาพระราชทานด้วยทรงมีพระราชปณิธานในการสร้างโอกาสทางการศึกษาแก่เยาวชนไทย และในปี 2553 มีพระราชดำริให้จัดตั้งมูลนิธิทุนการศึกษาพระราชทาน สมเด็จพระบรมโอรสาธิราชฯ สยามมกุฎราชกุมารขึ้น โดยทรงดำรงตำแหน่งประธานกรรมการ ซึ่งที่ผ่านมานักเรียนทุนพระราชทานทุกรุ่นเข้าศึกษาต่อในระดับปริญญาตรีหรือเทียบเท่า มีอัตราสูงกว่าร้อยละ 97 โดยผู้ได้รับทุนพระราชทานไม่มีภาระผูกพันที่ต้องใช้ทุนคืน และเมื่อจบการศึกษา ทรงเปิดโอกาสให้สมัครเข้าถวายงานเป็นข้าราชบริพารในพระองค์ได้ตามความสมัครใจ</div>
            <div class="nomore"><span class="kem">ด้านสังคมสงเคราะห์ </span>สมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูรทรงพระกรุณาห่วงใยการพัฒนาคุณภาพชีวิตของประชาชน โดยเฉพาะเยาวชนที่ด้อยโอกาส ได้เสด็จฯ ไปทรงเยี่ยมชุมชนแออัดของกรุงเทพฯ หลายแห่ง เช่น ชุมชนแออัดพระโขนง เขตคลองเตย เขตยานนาวา พระราชทานพระราชทรัพย์สนับสนุนโครงการของชุมชน เช่น โครงการพัฒนาเด็กเล็กที่ขาดแคลน โครงการปราบปรามยาเสพติด</div>
            <div class="nomore"><span class="kem">ด้านการต่างประเทศ </span>ทรงเสด็จพระราชดำเนินแทนพระองค์พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช และสมเด็จพระนางเจ้าฯ พระบรมราชินีนาถ ไปทรงเยือนมิตรประเทศทั่วทุกทวีป เช่น ประเทศอิตาลี สาธารณรัฐประชาชนจีน ญี่ปุ่น อิหร่าน เนปาล สาธารณรัฐสังคมนิยมประชาธิปไตยศรีลังกา สาธารณรัฐเปรู ออสเตรเลีย สิงคโปร์ นอกจากจะมุ่งเจริญสัมพันธไมตรีแล้ว ยังทรงสนพระราชหฤทัยในการทอดพระเนตรและศึกษากิจการต่างๆ ที่จะทรงนำประโยชน์มาใช้ในการพัฒนาประเทศไทย เช่น เสด็จฯ ไปทรงเยี่ยมชมกิจการทหาร ศิลปวัฒนธรรม อุตสาหกรรมและความเป็นอยู่ของประชาชน</div>
            <div class="nomore"><span class="kem">ด้านเกษตรกรรม </span>ทรงบำเพ็ญพระราชกรณียกิจเพื่อส่งเสริมกิจการด้านเกษตรกรรม เช่น เสด็จฯ แทนพระองค์ในการพระราชพิธีพืชมงคล</div>
            <center><img src="img/563000011831701.jpg" alt="" class="img-show"></center>
            <div class="nomore"><span class="kem">ด้านพระศาสนา </span>ทรงเสด็จฯ แทนพระองค์ไปปฏิบัติพระราชกรณียกิจทางศาสนาเป็นประจำสม่ำเสมอ เช่น ทรงเปลี่ยนเครื่องทรงพระพุทธมหามณีรัตนปฏิมากร ณ วัดพระศรีรัตนศาสดาราม ตามฤดูกาล รวมถึงการเสด็จพระราชดำเนินไปในการพระราชทานถ้วยรางวัล การทดสอบการอัญเชิญพระมหาคัมภีร์อัลกุรอ่านระดับประเทศ</div>
            <div class="nomore"><span class="kem">ด้านการกีฬา </span>ทรงปฏิบัติพระราชกรณียกิจ ทั้งในผู้แทนพระองค์และในส่วนของพระองค์เอง เช่น พระราชทานไฟพระฤกษ์กีฬาเยาวชนแห่งชาติ พระราชทานพระราชวโรกาสให้นักกีฬาไทยเข้าเฝ้าทูลละอองพระบาทรับพระราชทานรางวัลนักกีฬายอดเยี่ยม</div>
            <center><img src="img/EZHv3HvXYAAU1b-.jpg" alt="" class="img-show"></center>
            <div class="nomore"><span class="kem">ด้านการทหาร </span>ทรงสนพระราชหฤทัยในวิทยาการด้านการทหารมาตั้งแต่ยังทรงพระเยาว์ นอกจากทรงรับการศึกษาด้านการทหารจากประเทศออสเตรเลียแล้ว ยังทรงพระวิริยะอุตสาหะเพิ่มพูนความรู้และประสบการณ์อยู่ตลอดเวลา โดยเฉพาะในด้านวิทยาการการบิน ทรงรับราชการทหารมาโดยตลอดตั้งแต่วันที่ 9 ม.ค.2518 และทรงดำรงพระยศทางทหารของ 3 เหล่าทัพ คือ พล.อ. พล.ร.อ. พล.อ.อ. โดยทรงเข้าร่วมปฏิบัติการรบในการต่อต้านการก่อการร้ายในภาคเหนือและภาคตะวันออกเฉียงเหนือ รวมทั้งการคุ้มกันพื้นที่ในบริเวณรอบค่ายผู้อพยพชาวกัมพูชา ที่เขาล้าน จ.ตราด อีกทั้งยังเสด็จพระราชดำเนินไปในพิธีการด้านทหาร อาทิ งานวันราชวัลลภ</div>
            <div class="nomore">สมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูร ทรงเจริญรอยตามเบื้องพระยุคลบาทพระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดชและสมเด็จพระนางเจ้าฯ พระบรมราชินีนาถในการปฏิบัติพระราชกรณียกิจนานับประการด้วยความวิริยะอุตสาหะ มุ่งมั่นตั้งใจอย่างไม่เห็นแก่ความเหน็ดเหนื่อย พระราชกรณียกิจน้อยใหญ่ ทั้งที่ทรงปฏิบัติแทนพระองค์และทรงปฏิบัติในส่วนพระองค์เองล้วนเป็นไปเพื่อประเทศชาติให้มีความเจริญก้าวหน้ามั่นคงและเพื่อประชาชนชาวไทยได้มีความสุข มีคุณภาพชีวิตที่ดีขึ้นอย่างยั่งยืน</div>
            <div class="nomore">หมายเหตุ: ข้อมูลส่วนหนึ่งจากหนังสือ<span class="kem"> 50 พรรษา มหาวชิราลงกรณ </span>จัดทำโดย<br>มหาวิทยาลัยราชภัฏพระนครศรีอยุธยา ตีพิมพ์เมื่อปี 2545</div>
        </div>
    </div>
    <div class="foot">จัดทำขึ้นเพื่อ ท่านวชิราบ้าหี<br>LOL..........................</div>
</body>
</html>