<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="main">
        <div class="tap_top">
            <span class="res" id="Foods"></span>
            <span class="res" id="Irons"></span>
            <span class="res" id="Ammunitons"></span>
            <span class="res" id="Feul"></span>
        </div>
        <div class="man-in">
            <div class="content" id="Content"></div>
            <div class="report" id="Report"></div>
        </div>
        <div class="tap_low">
            <span class="res" id="Manpower"></span>
            <span class="res" id="Civilians"></span>
            <span class="res" id="Victory-Point"></span>
            <button title="just-button" class="button">ONE YEAR</button>
        </div>
    </div>
    <script type="module" src="script/main.js"></script>
</body>
</html>